{% extends 'base.html' %}
{% load static %}

{% block title %}온새동물의료센터-의료진 소개{% endblock %}

{% block extra_head %}
<link rel="stylesheet" href="{% static 'css/intro.css' %}">
{% endblock %}

{% block content %}
<!-- 배너 섹션 -->
<div class="intro-banner">
  <div class="banner-overlay">
    <div class="banner-content">
      <h2>INTRODUCTION</h2>
      <h1>병원소개</h1>
    </div>
  </div>
</div>

<!-- 콘텐츠 섹션 -->
<div class="intro-container">
  <div class="inner">
    <!-- 인사말 제목 (초록색 작대기 포함) -->
    <div class="title-area">
      <div class="title-line"></div>
      <h2>의료진 소개</h2>
    </div>
    
    <!-- 내용 -->
    <div class="doctors-content">
      <div class='doc-wrap'>
        <div class="doctors-image">
          <img src="{% static 'images/치과.png' %}" alt="치과">
        </div>
        <div class='doc-name'>
          <h2>오태진 원장</h2>
          <div></div>
        </div>
        <span>충남대학교 수의학과 졸업</span> <br>
        <span>충남대학교 외과 임상 심화 수료</span><br>
        <span>서초 헬릭스동물메디컬센터 인턴</span><br>
        <span>24시 굿케어동물의료센터 진료수의사</span><br>
        <span>24시 굿케어동물의료센터 부원장</span><br>
        <span>24시 화이트동물메디컬센터 원장</span><br>
        <span>온새동물의료센터 원장</span><br>
        <br>
        <span>헬릭스동물메디컬센터 원내세미나 이수</span><br>
        <span>해마루 동물병원 심장초음파 교육 및 실습 이수</span><br>
        <span>조규만 수의정형외과 아카데미 수료</span><br>
        <span>서울시 수의사회 컨퍼런스 참석</span><br>
      </div>
      <div class='doc-wrap'>
        <div class="doctors-image">
          <img src="{% static 'images/치과.png' %}" alt="치과">
        </div>
        <div class='doc-name'>
          <h2>이명수 원장</h2>
          <div></div>
        </div>
        <span>충남대학교 수의학과 졸업</span> <br>
        <span>신촌 웨스턴동물의료센터 인턴수의사</span><br>
        <span>청라라임동물병원 진료수의사</span><br>
        <span>명동물병원 원장</span><br>
        <span>온새동물의료센터 원장</span><br>
        <br>
        <span>웨스턴동물의료센터 basic 과정수료</span><br>
        <span>웨스턴동물의료센터 advanced 과정수료</span><br>
        <span>부천S동물병원 복부초음파 세미나 이수</span><br>
        <span>최치봉 박사 심장초음파 세미나 이수</span><br>
        <span>GE healthcare ultrasound academy  첨석</span><br>
        <span>KAHA 온라인 학술대회 참석</span><br>
        <span>서울수의임상컨퍼런스 참석</span><br>
      </div>
    </div>
  </div>
</div>
{% endblock %}

{% block extra_scripts %}
<script>
  // 여기에 JavaScript 코드 작성
</script>
{% endblock %}